<div class="page-content">

  <h1 class="text-center m-0 pt-4">Create new article</h1>

  <%= render "error_display" %>

  <%= render "form" , button_text: 'Create article' %>
  <div class="text-center pt-5">
    <%= link_to '[Back to article home page]' , articles_path, class: "text-info text-decoration-none" %>
  </div>
</div>